* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 10vh;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    margin: 10px ;
    font-size: 1.3rem;
}
span {
    color: rgb(40, 40, 90);
    font-family: 'Lobster', cursive;
    font-size: 1.7rem;
}
body {
    background-color:gray;
}
address {
    text-align: center;
}    
/*--hero image---------------*/
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}    
/*--hero image---------------*/
/*--aside---------------------*/
.cake {
    height: 20vh;
    object-fit: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--aside---------------------*/
lottie-player {
    display: block;
    margin: auto;
}

/*container height*/
.container {
    width: 100%;
}
/*---sections part---*/
section.intro, section.contact {
    background: #a2a4c5;
    padding: 1.5rem;
}
section.hero {
   height: 100vh; 
}
section.contact {
    height: 50vh;
}

section.google-map {
    padding: 0;
}